# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# JavaScript
*.log
*.env

# Build directories
dist/
build/
out/

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Optional coverage directory
coverage/

# Optional lock files
package-lock.json

yarn.lock
pnpm-lock.yaml
package-lock.json
prisma/migrations/*
**/prisma/data/mydb.sqlite-wal
**/prisma/data/mydb.sqlite-shm

.vscode/
src/update_server/__pycache__/update_util.cpython-38.pyc
prisma/data/
